@import '../css/styles.scss';

.container {

    
    width: 100% vw;
    font-family: sans-serif;
  }

  .site-container {
    margin: auto;
    width: 50%;
    display: block;
    z-index: 1;
  }

  .site-title {
    font-size: 3rem;
    color: $mint;
    font-weight: 700;
    margin: 0;
    padding-left: 0%;
  }

  .nav-bar {
    border-bottom: 2px solid $peach;
  }


  .heading {
    color: $peach;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0%;
  }

  .nav-link-item {
    padding-right: 5rem;
  }
  .nav-link-text {
    color: $dark-red;
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  .content-container {
    margin: auto;
    width: auto;
    margin-left: 30%;
  }

.accent-container {
  width: 90%;
  padding: 3rem;
  position: relative;
  display: inline;
}

  .rectangle-accent {
    display: inline-block;
    width: 90%;
    height: 20%;
    background-color: $cream;
  }

  .semi-circle-accent {
    display: inline-block;
    width: 75%;
    height: 50vh;
    // border-bottom-right-radius: 15%;
    // border-top-right-radius: 15%;
    // border-start-start-radius: 50% 50%;
    border-start-end-radius: 20% 50%;
    border-end-end-radius: 20% 50%;
    background-color: $cream;
    z-index: -1;
  }

  .watermelon-circle-accent {
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: $watermelon;
    //left: 500px;
    right: -200px;
    top: 35%;
  }

  .circle-ring-accent {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: transparent;
    border: 2px solid $light-peach;
    //left: 500px;
    top: 30%;
  }
  